<h3>Admin</h3>

<ul class="nav nav-pills">
  <li class="nav-item" >
    <a class="nav-link"
       routerLink="./products"
       routerLinkActive="active"
       queryParamsHandling="preserve"
       preserveFragment
    >Manage Products
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="./orders"
       routerLinkActive="active"
       queryParamsHandling="preserve"
       preserveFragment
    >Manage Orders
    </a>
  </li>
</ul>

<br>

<router-outlet></router-outlet>
