<ol>
  <li *ngFor="let cartItem of cartItems; trackBy: trackByIndex">
    <app-cart-item
      appHoverEffect
      [product]="cartItem"
      (decreaseAmount)="decreaseAmount(cartItem)"
      (increaseAmount)="increaseAmount(cartItem)"
      (remove)="removeCartItem(cartItem)"
    ></app-cart-item>
  </li>
</ol>

<em>There are {{ cartItemsQuantity$ | async }} items in your cart. </em> <!-- Если количество 1, то фраза There are - некоретна-->
<em>Total price: {{ cartTotalPrice$ | async | currency }} </em>

<button (click)="resetCart()">Reset cart</button>
