<ol>
  <li *ngFor="let cartProduct of cartProducts; trackBy: trackByIndex">
    <app-cart-product
      appHoverEffect
      [product]="cartProduct"
      (decreaseQuantity)="decreaseQuantity(cartProduct)"
      (increaseQuantity)="increaseQuantity(cartProduct)"
      (remove)="removeProduct(cartProduct)"
    ></app-cart-product>
  </li>
</ol>

<em>Total {{ totalQuantity$ | async }} items in your cart. </em>
<em>Total price: {{ totalSum$ | async | currency }} </em>

<button (click)="removeAllProducts()">Reset cart</button>
